.background_image_01 {
    height: 100vh;
    background-image: url('../images/my_web_site/portfolio_img_001.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_image {
    width: 65px;
    height: auto;
    aspect-ratio: 1;
    vertical-align: middle;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.div_title_01 {
    position: relative;
}

.div_title_02 {
    margin-top: 20px;
}

.profill_image {
    position: absolute;
    background-color: azure;
    
    width: 200px;
    height: 200px;
    border: 1px solid black;
    
}
