.underline {
    background: linear-gradient(transparent 50%, rgba(61, 70, 153, 0.548) 70%);
    border-radius:20px 20px 20px 20px;
}

.section_title {
    position: relative;
}

.div_title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}