.projects_container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 50px 0px 50px 0px;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    height: auto;
}

.box_title_02 {
    width: 80%;
    height: 70px;
    margin-bottom: 5px;
    display: flex;
    box-sizing: border-box;

    border-color: rgb(144, 121, 173, 0.7);
    border-width: 3px;
    border-style: solid;

    justify-content: center;
    align-items: center;

    font-size: 2rem;

    border-radius: 10px 10px 10px 10px;
    /* border-color: rgb(144, 121, 173, 0.7);
    border-width: 5px;
    border-style: solid; */

    background-color: rgb(243, 242, 243);

    box-shadow: 0 4px 5px 5px rgb(0, 0, 0, 0.15);
    
    position: relative;
    overflow: hidden;
}

.box_title_02:before {
    position: absolute;
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    content: '';
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: rgb(144, 121, 173, 0.7);
  }

  .box_title_02  #title_num_02 {
    font-size: 40px;
    /* font-size: 3rem; */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    padding-top: 3px;
    padding-left: 16px;
    color: #fff;
  }

.contents_box_02 {
    width: 80%;
    height: auto;
    margin-top: 5px;

    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;

    border-color: rgb(144, 121, 173, 0.7);
    border-width: 3px;
    border-style: solid;

    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 5px 5px rgb(0, 0, 0, 0.15);

    background-color: rgb(243, 242, 243);
}

.contents_box_02 .box_inner_02 {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    
    align-items: center;
    position: relative;
}

.box_inner_02 .contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 5px 0px 5px 0px;
}

/* .inner_contents_box {
    width:30%;
    height: auto;
    aspect-ratio: 1;

    margin: 8px 8px 8px 8px;
    box-sizing: border-box;

    border-color: black;
    border-width: 3px;
    border-style: solid;

    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 10px 5px rgb(0, 0, 0, 0);
    transition: box-shadow 1s ease-out, transform 0s ease-out;

    align-items: center;
} */

.contents .card {
    width:45%;
    height: auto;
    aspect-ratio: 1;

    margin: 8px 8px 8px 8px;
    box-sizing: border-box;

    border-color: rgb(144, 121, 173, 0.7);
    border-width: 3px;
    border-style: solid;

    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 10px 5px rgb(0, 0, 0, 0);
    transition: box-shadow 1s ease-out, transform 0s ease-out;

    align-items: center;

    cursor: pointer;
}

.card {
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 8px 10px 5px rgb(0, 0, 0, 0);
    transition: box-shadow 1s ease-out, transform 0s ease-out;
    box-sizing: border-box;
    align-items: center;
}

.card_position {
    display: flex;
    justify-content: center;
}

.card .btn-color {
    background-color: rgba(144, 121, 173, 0.7);
    border-color: rgb(144, 121, 173, 0.7);
    border-width: 0px;
    border-style: solid;
}

.contents .inner_contents_box:hover {
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0 8px 10px 5px rgb(0, 0, 0, 0.5);
}

.contents .inner_contents_box:active {
    background-color: rgb(255, 255, 255, 0.8);
}

.box_image {
    aspect-ratio: 16/9;
    width: auto;
    height: auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
}

.card_img {
    /* height: 50%;
    width: 80px; */
    border-radius: 10px 10px 0px 0px;
}

#box_text_01 {
    text-align: center;
    margin: 5% 5% 5% 5%;
}

#box_text_02 {
    text-align: center;
    margin: 10% 5% 5% 5%;
}

#box_text_03 {
    text-align: center;
    margin: 10% 5% 5% 5%;
}

#box_text_04 {
    text-align: center;
    margin: 10% 5% 5% 5%;
}

#box_text_05 {
    text-align: center;
    margin: 10% 5% 5% 5%;
}

#box_text_06 {
    text-align: center;
    margin: 10% 5% 5% 5%;
}

/* .inner_contents_box > .box_title {
    background-color: brown;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
}

.inner_contents_box > .box_text {
    height: auto;
    background-color: brown;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
} */