.projects_container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 50px 0px 50px 0px;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

.box_title_02 {
    width: 80%;
    height: 80px;
    margin-bottom: 5px;
    display: flex;
    box-sizing: border-box;

    border-color: black;
    border-width: 2px;
    border-style: solid;

    justify-content: center;
    align-items: center;

    font-size: 2rem;
}

.contents_box_02 {
    width: 80%;
    height: auto;
    margin-top: 5px;

    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;

    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.contents_box_02 > .box_inner_02 {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    margin: 5px 0px 5px 0px;
    
    align-items: center;
    position: relative;
}

.box_inner_02 > .contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 5px 0px 5px 0px;
}

.contents > .inner_contents_box {
    width:30%;
    height: auto;
    aspect-ratio: 1;

    margin: 5px 5px 5px 5px;

    border-color: black;
    border-width: 1px;
    border-style: solid;

    border-radius: 5px 5px 5px 5px;

    overflow: hidden; /* 子要素がはみ出さないようにする */
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */

    cursor: pointer;
    vertical-align: middle;
}

.inner_contents_box[data-popup="popup_contents_01"] .box_images {
    border-radius: 5px 5px 0px 0px;
    transition: filter 0.3s ease; /* ホバー時のアニメーション */
    width: 100%; 
    height: auto;
    aspect-ratio: 16/9;
}

.inner_contents_box[data-popup="popup_contents_02"] .box_images {
    border-radius: 5px 5px 0px 0px;
    transition: filter 0.3s ease; /* ホバー時のアニメーション */
    width: 100%; 
    height: auto;
    aspect-ratio: 16/9;
}

.inner_contents_box[data-popup="popup_contents_03"] .box_images {
    border-radius: 5px 5px 0px 0px;
    transition: filter 0.3s ease; /* ホバー時のアニメーション */
    width: 100%; 
    height: auto;
    aspect-ratio: 16/9;
}

.inner_contents_box[data-popup="popup_contents_04"] .box_images {
    border-radius: 5px 5px 0px 0px;
    transition: filter 0.3s ease; /* ホバー時のアニメーション */
    width: 100%; 
    height: auto;
    aspect-ratio: 16/9;
}

.inner_contents_box[data-popup="popup_contents_05"] .box_images {
    border-radius: 5px 5px 0px 0px;
    transition: filter 0.3s ease; /* ホバー時のアニメーション */
    width: 100%; 
    height: auto;
    aspect-ratio: 16/9;
}

.inner_contents_box[data-popup="popup_contents_06"] .box_images {
    border-radius: 5px 5px 0px 0px;
    transition: filter 0.3s ease; /* ホバー時のアニメーション */
    width: 100%; 
    height: auto;
    aspect-ratio: 16/9;
}

.box_text {
    width: 100%;
    height: 25%;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
    text-align: center;
}

.dtls_btn {
    width: 100%;
    height: 10%;
    aspect-ratio: 10/1;

    background-color: rgb(131, 131, 235);
    border-radius: 5px;
    align-items: center;
    bottom: 0;
    display: flex;
}

/* コンテナホバー時のスタイル */
.inner_contents_box:hover .box_images {
    filter: brightness(0.7); /* 画像を暗くする */
}

.inner_contents_box:hover .box_text {
    background-color: rgba(0, 0, 0, 0.1); /* テキスト背景を暗くする */
}

.dtls_btn:hover {
    background-color: rgb(131, 131, 235, 0.1);
}